In [2]:
import pandas as pd
import numpy as np

In [3]:
# Create a series
pd.Series(np.random.randn(5), index=['a', 'b' , 'c' , 'd', 'e'])

a    1.986267
b    2.250639
c    0.121383
d   -0.450025
e    1.644107
dtype: float64

In [6]:
# Preserve the series in variable a for later access
s = pd.Series(np.random.randn(5))
print (s)

0    1.251904
1   -0.656551
2    0.246771
3    0.267210
4    0.300853
dtype: float64

In [7]:
# index
print (s[0])
print ("\n")
print (s[:3])

1.25190371219


0    1.251904
1   -0.656551
2    0.246771
dtype: float64

In [8]:
# Create a dataframe
df = pd.DataFrame(s,columns = ['Column 1'])
df

   Column 1
0  1.251904
1 -0.656551
2  0.246771
3  0.267210
4  0.300853

In [9]:
# Can access columns by name
df['Column 1']

0    1.251904
1   -0.656551
2    0.246771
3    0.267210
4    0.300853
Name: Column 1, dtype: float64

In [10]:
# Easy to add columns
df['Column 2'] = df['Column 1'] * 4
df

   Column 1  Column 2
0  1.251904  5.007615
1 -0.656551 -2.626204
2  0.246771  0.987085
3  0.267210  1.068838
4  0.300853  1.203410

In [11]:
df.sort_values(by = 'Column 2')

   Column 1  Column 2
1 -0.656551 -2.626204
2  0.246771  0.987085
3  0.267210  1.068838
4  0.300853  1.203410
0  1.251904  5.007615