In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.Series(np.random.randn(5), index=['a','b','c','d','e'])

a    0.687160
b   -1.256878
c    0.435729
d   -0.701486
e    0.331546
dtype: float64

In [3]:
s = pd.Series(np.random.randn(5))

In [4]:
s

0    1.029248
1   -0.243958
2    0.951966
3    1.325480
4   -1.078553
dtype: float64

In [5]:
print(s[0])
print("\n")
print(s[:3])

1.02924808281


0    1.029248
1   -0.243958
2    0.951966
dtype: float64

In [6]:
df = pd.DataFrame(s, columns = ['col 1'])

In [7]:
df

      col 1
0  1.029248
1 -0.243958
2  0.951966
3  1.325480
4 -1.078553

In [9]:
df['col 1']

0    1.029248
1   -0.243958
2    0.951966
3    1.325480
4   -1.078553
Name: col 1, dtype: float64

In [10]:
df['col 2'] = df['col 1'] * 4

In [11]:
df

      col 1     col 2
0  1.029248  4.116992
1 -0.243958 -0.975832
2  0.951966  3.807864
3  1.325480  5.301921
4 -1.078553 -4.314211

In [12]:
df.sort_values(by = 'col 2')

      col 1     col 2
4 -1.078553 -4.314211
1 -0.243958 -0.975832
2  0.951966  3.807864
0  1.029248  4.116992
3  1.325480  5.301921

In [13]:
df[df['col 2'] <= 2]

      col 1     col 2
1 -0.243958 -0.975832
4 -1.078553 -4.314211

In [15]:
df.apply(lambda x: min(x) + max(x))

col 1    0.246928
col 2    0.987710
dtype: float64

In [17]:
df.describe()

          col 1     col 2
count  5.000000  5.000000
mean   0.396837  1.587347
std    1.019544  4.078178
min   -1.078553 -4.314211
25%   -0.243958 -0.975832
50%    0.951966  3.807864
75%    1.029248  4.116992
max    1.325480  5.301921